<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RM_Portal</title>
    <style>
        div.double {
            /* border-style: double; */
            height: 100%;
            width: 100%;
            margin-top: 1%;
        }
    </style>
</head>

<body>
    <div class="double">
     
        <div style="margin-left: 20px">
            <div>
                <p> Hi All,</p>
                <p> Please do let me know if you have any reference for below active positions.</p>
            </div>
            <div>
                <table>
                    <tr>
                        <td>
                            <strong>
                                <span>Designation </span>
                            </strong>
                        </td>
                        <td>
                            <strong>
                                <span>: ${designation}</span>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span>Experience </span>
                            </strong>
                        </td>
                        <td>
                            <strong>
                                <span>: ${experience} years</span>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span>Positions </span>
                            </strong>
                        </td>
                        <td>
                            <strong>
                                <span>: ${positions} </span>
                            </strong>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <br>
            <div>
                <strong>Job Description : </strong>
                <ul>
                	#foreach( ${jobDescriptionList} in ${jobDescription} )
    					<li>${jobDescriptionList}</li>
					#end
                </ul>
            </div>
            <div>
                <strong>Good to have knowledge of : </strong>
                <ul>
                	#foreach(${knowledgeOfList} in ${knowledgeOf})
                    	<li>${knowledgeOfList}</li>
                    #end
                </ul>

            </div>
        </div>
    </div>
</body>

</html>